* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logo{
    width: 30%;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: white;
}
nav ul li:hover a{
    text-decoration: none;
   color: teal;
   
}
a{
    text-decoration: none;
   
}
header{
    background: rgb(54, 65, 87);
    height: 70px;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.hero{
    background: teal;
    width: 100%;
    height: 120vh;
}
.hero img{
    height: 15rem;
    width: 15rem;
margin: 18rem;
margin-left: 34rem;
margin-top: 10rem;
    align-items: center;
    margin-bottom: 3rem;
}
.hero .text{
    text-align: center;
    color: white;
    line-height: 36px;
}
.hero .text h1{
    font-size: 65px;
    margin-bottom: 40px;
}
.hero .text .hero-devide{
    font-size: 50px;
    margin-bottom: 40px;
}
.hero .text p{
    font-size: 27px;
}
.prot{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 50px;
    
}
.prot-devide{
    font-size: 50px;
    margin-bottom: 40px; 
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    flex-basis: 30%;
    margin-top: 3rem;
}
.col-4 img{
width: 100%;
}
.containe {
    position: relative;
    width: 100%;
  }
   .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: teal;
  }
  
  .containe:hover .overlay {
    opacity: .8;
  }
  
  .text2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.about{
      background: teal;
width: 100%;
height: 95vh;
  }
  .hh{
      color: white;
      margin-top: 4rem;
      padding-top: 26px;
  }
  .about i{
      color: white;
  }
  .col-2{
      flex-basis: 25%;   
  }
  .col-2 p{
      color: white;
      font-size: 20px;
      line-height: 30px;
  }
  .free{
      margin-right: -30rem;
      text-align: left;
  }
  .you{
      text-align: left;
  }
  .btn{
      text-align: center;
      margin-top: 3rem;
      margin-left: 32rem;
      height: 4rem;
      width: 15rem;
      border-radius: 20px;
      background: transparent;
      border: 1px solid white;
      color: white;
      box-shadow: 0 7px 8px 0 rgba(212, 192, 192, 0.2);
  }
  .btn:hover{
      background:white;

  }
  .btn:hover a{
      color: teal;
  }
  .btn a{
      text-decoration: none;
      border: none;
      color: white;
  }
.form input{
    width: 80%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid rgb(185, 170, 170);
    margin-left: 6rem;
}
.registerbtn{
    background-color: teal;
  color: white;
  padding: 16px 20px;
  margin: 1rem 0;
  margin-left: 6rem;
  border: none;
  cursor: pointer;
  width: 6rem;
  opacity: 0.9;
  border-radius: 10px;
  height: 4rem;
}
.registerbtn:hover{
    color: teal;
    background: whitesmoke;
    border: 1px solid teal;
}
.footer{
    background: rgb(54, 65, 87);
    width: 100%;
    height: 45vh;
}
.address-footer{
    color: white;
}
.address-footer h1{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}
.address-footer p{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.address-footer p span{
    color: teal;
    font-size: 20px;
    font-weight: bold;
}
.icon-footer{
    color: white;
}
.icon-footer h1{
    font-size: 26px;
    
    margin-bottom: 20px;
    text-align: center;
}
.abt-free{
    margin-top: 30px;
}

.icon-footer{
    margin: 1rem 0;
    text-align: center;
}
.icon-footer i{
    font-size: 15px;
}

.icon-footer i {
    font-size: 18px;
    color: white;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid white;
    padding-right: 20px;
}
.icon-footer i:hover{
    background: white;
    color: teal;
    border: 1px solid rgb(38, 155, 197);
}
.ghhh{
    margin-bottom: ;
}
footer .copy{
    text-align: center;
}
.copy p{
    text-align: center;
    padding: 1rem 0;
}
.copy p span{
    color: teal;
    font-weight: bolder;
}
footer{
    height: 8vh;
    color: white;
    background: rgb(18, 19, 24);
}